<root>
	<target>E:\Chn_Futures_Trading_System\Execution\Position_List_HAIXIN_HAITONG\</target>
	<current>E:\Chn_Futures_Trading_System\Execution\Position_List_HAIXIN_HAITONG\</current>
	<grouplist>E:\Chn_Futures_Trading_System\BaseData\TCF_Recent_Data\</grouplist>
	<abandonlist>E:\Chn_Futures_Trading_System\BaseData\TCF_Recent_Data\</abandonlist>
</root>